parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#PHPDoc tag @implements contains generic type Symfony\\Component\\Security\\Core\\User\\PasswordUpgraderInterface<App\\Entity\\User> but interface Symfony\\Component\\Security\\Core\\User\\PasswordUpgraderInterface is not generic.#'
