parameters:
    phpVersion: 80400
    level: 7
    paths:
        - src
    excludePaths:
        - src/Test
    ignoreErrors:
        - '#PHPDoc tag @implements contains generic type Symfony\\Component\\Security\\Core\\User\\PasswordUpgraderInterface<App\\Entity\\User> but interface Symfony\\Component\\Security\\Core\\User\\PasswordUpgraderInterface is not generic.#'

    doctrine:
            objectManagerLoader: phpstan/object-manager-loader.php