{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="max-w-xl mx-auto px-2">
        <h1 class="text-2xl mb-6">Reset your password</h1>
        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <p class="text-sm mb-6">
            Enter your email address, and we will send you a
            link to reset your password.
        </p>

        <button class="col-span-2 w-full mt-2 mb-6 md:mb-4 p-2 bg-success/60 hover:bg-success text-white/80 hover:text-white/90">
            Send
            password
            reset email
        </button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
