{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
    <button class="w-full mt-10 p-2 bg-success/60 hover:bg-success text-white/80 hover:text-white/90 mb-16">Reset
        password
    </button>
    {{ form_end(resetForm) }}
{% endblock %}
