{% extends 'base.html.twig' %}

{% block title %}New {{ documentType.name }}{% endblock %}

{% block body %}
    <h1 class="mb-10 flex justify-start items-center text-xl space-x-3">
        <a href="{{ path('app_setting_document_numbers_index',{'company':company.id}) }}" class="text-decoration-none">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        Create new {{ documentType.name }}</h1>

    {{ include('document_numbers/_form.html.twig') }}

{% endblock %}
