{% extends 'base.html.twig' %}

{% block title %}{{ 'bank_account.edit_bank_account'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-10 flex justify-start items-center text-xl space-x-3">
        <a href="{{ path('app_setting_account_index', {'company':company.publicId}) }}" class="text-decoration-none">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>{{ 'bank_account.edit_bank_account'|trans }}</span>
    </h1>

    {{ include('bank_account/_form.html.twig', {'button_label': 'button.update'|trans}) }}

{% endblock %}
