{% extends 'base.html.twig' %}

{% block title %}{{ 'EDIT_INVOICE_OUTGOING'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3">
        <a href="{{ path('app_document_index', {'company': company.id}) }}">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>{{ 'EDIT_INVOICE_OUTGOING'|trans }}</span>
    </h1>
    {{ include('document/_form.html.twig', {'button_label': 'UPDATE'}) }}
{% endblock %}
