{% extends 'base.html.twig' %}

{% block title %}{{ 'invoice.new_invoice_outgoing'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3 px-2 md:px-0">
        <a href="{{ path('app_document_index', {'company': company.publicId}) }}">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>{{ 'invoice.new_invoice_outgoing'|trans }}</span>
    </h1>

    {{ include('document/_form.html.twig', {'button_label': 'button.save'|trans}) }}
{% endblock %}