{% extends 'base.html.twig' %}

{% block title %}Osobní údaje{% endblock %}

{% block body %}
    <h1 class="mb-5">
        <a href="{{ path('app_dash_board', {'company': company.id}) }}" class="text-decoration-none">
            <svg class="bi me-3 mb-1" width="30" height="30">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        Osobní údaje
    </h1>


    <div class="col-md-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Ulozit</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
